# Compiled Code:
*.out

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Simulator Outputs:
*.csv
*.log

#Auxiliary Matlab Files:
*.m~
*.fig

# Unrelated Text Files
*.txt

#Auxiliary Tex Files Not mentioned above
*.aux
*.gz
*.pdf
*.bbl
*.blg
